/* Content Container Styling */
.container{
	padding: 10rem 0 8rem;
}

/* Image Styling */
.image-container{
	flex: 1;
	order: 1;
	margin-top: 1.5rem;
}

.image-container img{
	width: 100%;
}

/* About Me Description Styling */
.page-description{
	flex: 1;
	order: 2;
	margin-left: 8%;
	padding-right: 0;
}

/* Footer Styling */
footer{
	position: absolute;
	width: 81%;
	margin-bottom: 0;
}


/* MEDIA QUERIES */

/* Screen size less than 1040px */
@media screen and (max-width: 65rem){
	.container{
		flex-direction: column;
		padding: 8rem 0 6rem;
	}

	.image-container{
		order: 2;
	}

	.image-container img{
		width: 100%;
	}

	.page-description{
		order: 1;
		margin-left: 0;
	}
}

/* Screen size of 1040px - 1440px */
@media screen and (min-width: 65rem) and (max-width: 90rem){
	.container{
		padding: 10rem 0 12rem;
	}
}