$accent-colour1: #C09992;
$accent-colour2: #DDC7C4;
$accent-colour3: #f2edec;
$background-colour: #ffffff;

/* Navigation */
.main-nav{
  visibility: hidden;
  opacity: 0;
}
  
/* Header Styling */
.main-header{
  padding: 12rem 10% 12rem;
  margin-bottom: -2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  background-color: $accent-colour3;
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3cpath d='M1462.07 262.71C1310.73 255 1137.34-7.09 921.57-11.69 705.8-16.29 719.11-33.75 651.32-33.77' stroke='rgba(251%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1697.54 131.37C1583.11 138.82 1501.6 356.22 1297.27 355.37 1092.94 354.52 1033.19-3.2 897-33.34' stroke='rgba(251%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1606.08 472.07C1492.02 471.86 1380.65 402.07 1155.23 402.07 929.8 402.07 959.82 487.07 704.37 472.07 448.93 457.07 422.64-24.74 253.52-82.22' stroke='rgba(251%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1595.58 418.67C1491 417.47 1424.18 316.42 1194.11 301.07 964.04 285.72 921.83-13.99 792.64-35.2' stroke='rgba(251%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1628.57 60.33C1447.41 64.93 1292.54 323.7 953.18 323.53 613.82 323.36 473.2-59.73 277.79-74.13' stroke='rgba(251%2c 250%2c 250%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

}

.curve-container{
  position: absolute;
  z-index: 0;
  right: 0;
}

.curves {
  // width: 90vw; 
  width: 70vw; 
  height: auto;
}

.curve-container > svg > g > path{
  animation: animateCurves 90s cubic-bezier(.55,.5,.45,.5)     infinite;
  animation-direction: alternate;
}

.curve-container > svg > g > path:nth-child(1){
  animation-delay: -2s;
  animation-duration: 25s;
}

.curve-container > svg > g > path:nth-child(2){
  animation-delay: -10s;
  animation-duration: 45s;
}

.curve-container > svg > g > path:nth-child(3){
  animation-delay: -30s;
  animation-duration: 65s;
}

@keyframes animateCurves {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

.wave-container{
  // background: linear-gradient($accent-colour3 40%, $background-colour 60%);
  background: linear-gradient($accent-colour3, $background-colour 65%);
}

.wave-container > svg {
  z-index: 1;
  display: block;
  transform-origin: bottom;
  animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards; 
}

.wave-container > svg > path:nth-child(2){
  animation: animateWaveVertical 20s cubic-bezier(.55,.5,.45,.5)     infinite;
  animation-direction: alternate;
}

.wave-container > svg > path:nth-child(3){
  animation: animateWaveVertical 10s cubic-bezier(.55,.5,.45,.5)     infinite;
  animation-direction: alternate;
  animation-delay: -4s;
}

.wave-container > svg > path:nth-child(4){
  animation: animateWaveVertical 15s cubic-bezier(.55,.5,.45,.5)     infinite;
  animation-direction: alternate;
  animation-delay: -4s;
}

// @keyframes animateWave {
//   0% {
//     transform: scale(1,0);
//   }
//   100% {
//     transform: scale(1,1);
//   }
// }

@keyframes animateWaveVertical {
  0% {
   transform: translate3d(0px,20px,0);
  }
  100% { 
    transform: translate3d(0,0,0);
  }
}
  
/* Header Text Container */
.header-content{
  flex: 3;

  
  z-index: 1;
}
  
/* Header Text Styling */
.main-header h1{
  font-size: 4rem;
  color: $accent-colour1;
}
  
.main-header h2{
  color: $accent-colour1;
  width: 60%;
  // font-weight: 600;
  font-size: 1.5rem;
  margin-top: -10rem;
  margin-left: 0.3rem;
}
  
.main-header h3{
  color: $accent-colour1;
  width: 60%;
  margin-top: 6.2rem;
  margin-left: 0.3rem;
}
  
/* Header Links Container */
.side-nav{
  flex: 1;

  
  z-index: 1;
}

/* Header Link Styling */
.side-nav ul{
  list-style: none;
  text-align: right;
  margin-top: 0rem;
}

.side-nav li{
  margin-bottom: 2.2rem;
  font-size: 1.1rem;
}

.side-nav a{
  color: $accent-colour1;
  border-right: $accent-colour2 3px solid;
  padding: 0.4rem 0.8rem 0.4rem 0;
  transition: all .3s ease-in-out;
}

.side-nav a:hover{
  border-right: $accent-colour2 5px solid;
  background: $accent-colour2;
  color: $background-colour;
  padding: 0.4rem 18% 0.4rem 1.5rem;
}

/* Page Content Styling */
.page-contents{
  margin: 4rem 10%;
}
  
/* For Page anchoring */
.anchor{
  padding-top: 8rem;
  margin-top: -8rem;
}

/* Underline Divider Styling */
hr{
  margin-top: -0.5rem;
  margin-right: 70%;
  margin-bottom: 4rem;
  border: 1px solid $accent-colour1;
}

.project-display-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-one{
  flex: 1;
  margin-right: 4%;
}

.project-two{
  flex: 1;
  margin-left: 4%;
}

/* Project Display Styling */
.project-display{
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 6rem;

  flex-direction: column; 
}

/* Project Display Image */
.project-image{
  flex: 2;
  background: $accent-colour3;
  // padding: 3rem 8rem 3rem 4rem;

  margin-right: 10%;
  padding: 2rem 4rem 3rem;
  order: 1;
}

// .project-image img{
//   width: 100%;
// }

// .project-image{
//   // order: 2;
//   background: $accent-colour3;
//   // padding: 3rem 4rem 3rem 8rem;

//   order: 1;
//   padding: 2rem 4rem 3rem;
// }

.project-image img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Project Display Description */
.project-description-container{
  flex: 1;
  margin: auto;
  z-index: 1;

  margin: 0 0 0 30%;
  order: 2;
}

// .project-description-container.left{
//   // order: 1;

//   order: 2;
// }

.project-description{
  background: $accent-colour2;
  // padding: 3rem 4rem;

  padding: 2rem 3rem;

  margin-top: -3rem;
  margin-left: 0;
}

// .project-description.right{
//   // margin-left: -4rem;

//   margin-top: -3rem;
//   margin-left: 0;
// }

// .project-description.left{
//   // margin-right: -4rem;

//   margin-top: -3rem;
//   margin-right: 0;
// }

/* Project Display Text */
.project-description h3{
  color: $background-colour;
  margin-top: 0;
  margin-bottom: -0.8rem;
  font-size: 1.5rem;
}

.project-description p{
  color: $background-colour;
}

/* MEDIA QUERIES */
/* Screen size below 480px */
@media screen and (max-width:30rem){
  .main-header{
    padding: 9rem 0 3rem 9%;
    margin-bottom: -1.5rem;
  }

  .main-header h1{
    font-size: 2rem;
  }

  .main-header h2{
    font-size: 1rem;
    margin-top: -5.5rem;
    width: 90%;
  }

  .main-header h3{
    font-size: 0.8rem;
    margin-top: 3.5rem;
    width: 90%;
  }

  .project-display-container{
    flex-direction: column;
  }
  
  .project-one{
    margin-right: 0;
  }
  
  .project-two{
    margin-left: 0;
  }

  .project-display{
    flex-direction: column; 
    margin-bottom: 2rem; 
  }

  .project-image {
    margin-right: 10%;
    padding: 2rem 1.5rem;

    order: 1;
  }

  .project-description-container{
    margin: 0 0 0 30%;

    order: 2;
  }

  .project-description{
    padding: 1.5rem 2rem;

    margin-top: -2rem;
    margin-right: 0;
  }

  .project-description h3{
    font-size: 1rem;
  }

  .project-description a{
    font-size: 0.6rem;
  }

  // .project-image.right{
  //   order: 1;
  //   padding: 2rem 1.5rem;
  // }

  // .project-description-container.left{
  //   order: 2;
  // }

  // .project-description.right{
  //   margin-top: -2rem;
  //   margin-left: 0;
  // }

  // .project-description.left{
  //   margin-top: -2rem;
  //   margin-right: 0;
  // }

  .main-nav{
    visibility: visible;
    opacity: 1;
  }

  .side-nav{
    display: none;
  }

  .anchor{
    padding-top: 0;
    margin-top: 4rem;
  }
}

/* Screen size of 480px - 768px */
@media screen and (min-width:30rem) and (max-width: 48rem){
  .main-header{
    padding: 11rem 0 5rem 9%;
    margin-bottom: -1rem;
  }

  .main-header h1{
    font-size: 2.8rem;
  }

  .main-header h2{
    font-size: 1.25rem;
    margin-top: -7.5rem;
    width: 90%;
  }

  .main-header h3{
    font-size: 1rem;
    margin-top: 5rem;
    width: 90%;
  }

  .project-display-container{
    flex-direction: column;
  }
  
  .project-one{
    margin-right: 0;
  }
  
  .project-two{
    margin-left: 0;
  }

  .project-display{
    flex-direction: column; 
    margin-bottom: 4rem; 
  }

  .project-image {
    margin-right: 10%;
    padding: 2rem 4rem 3rem;

    order: 1;
  }

  .project-description-container{
    margin: 0 0 0 30%;

    order: 2;
  }

  .project-description{
    padding: 2rem 3rem;

    margin-top: -3rem;
    margin-right: 0;
  }

  .project-description h3{
    font-size: 1.2rem;
  }

  .project-description a{
    font-size: 0.8rem;
  }

  // .project-image.right{
  //   order: 1;
  //   padding: 2rem 4rem 3rem;
  // }

  // .project-description-container.left{
  //   order: 2;
  // }

  // .project-description.right{
  //   margin-top: -3rem;
  //   margin-left: 0;
  // }

  // .project-description.left{
  //   margin-top: -3rem;
  //   margin-right: 0;
  // }

  .main-nav{
    visibility: visible;
    opacity: 1;
  }

  .side-nav{
    display: none;
  }

  .anchor{
    padding-top: 0;
    margin-top: 4rem;
  }
}

/* Screen size of 768px - 960px */
@media screen and (min-width: 48rem) and (max-width: 60rem){
  .main-header{
    padding: 8rem 9% 8rem;
  }

  .main-header h1{
    font-size: 2.8rem;
  }

  .main-header h2{
    font-size: 1.25rem;
    margin-top: -7.5rem;
  }

  .main-header h3{
    font-size: 1rem;
    margin-top: 5rem;
    width: 80%;
  }

  .project-display-container{
    flex-direction: column;
  }
  
  .project-one{
    margin-right: 0;
  }
  
  .project-two{
    margin-left: 0;
  }

  .project-display{
    flex-direction: column; 
    margin-bottom: 4rem; 
  }

  // .project-description h3{
  //   font-size: 1.2rem;
  // }

  .side-nav ul{
    margin-top: -0.5rem;
  }

  .side-nav li{
    margin-bottom: 2rem;
    font-size: 0.9rem;
  }

  .anchor{
    padding-top: 0;
    margin-top: 4rem;
  }
}
  
  