/* Container Styling */
.container.center-align {
  align-items: center;
}

.container.column {
  flex-direction: column;
  margin: 0;
}

/* Page Description Styling */
.page-description {
  flex: 1;
}

/* Heading Styling */
.heading-container {
  flex: 1;
  order: 1;
  margin-right: 8%;
  text-align: right;
  padding-left: 8%;
}

/* Process Description Styling */
.process-description {
  flex: 3;
  order: 2;
  padding-right: 8%;
}

.process-description img {
  width: 100%;
  margin-top: 0.5rem;
}

/* Image Styling */
.image-container {
  flex: 1;
  order: 2;
  margin-top: 1.5rem;
}

.image-container img {
  width: 100%;
}

/* Project Description Styling */
.project-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3rem 9% 5rem;
  text-align: center;
}

.project-description section {
  flex: 1;
}

.tools-container {
  border-right: 1px solid #DDC7C4;
  border-left: 1px solid #DDC7C4;
}

.duration-container {
  border-left: 1px solid #DDC7C4;
}

/* Heading Underline Styling */
hr {
  margin-top: -0.5rem;
  margin-right: 70%;
  margin-bottom: 2rem;
  border: 1px solid #C09992;
}

/* Divider Styling */
.divider {
  margin-top: -0.5rem;
  margin: 4rem 25% 0;
  border: 1px solid #f2edec;
}

/* Container For Next Project Button */
.project-navigation {
  margin: 5rem 9.5% 6rem;
  text-align: right;
}

/* MEDIA QUERIES */
/* Screen size below 320px */
@media screen and (max-width: 30rem) {
  .container {
    flex-direction: column;
  }

  .image-container {
    margin: 0 auto;
    margin-top: 5rem;
  }

  .project-description {
    flex-direction: column;
    margin: 0 9%;
  }

  .tools-container, .duration-container {
    border-right: none;
    border-left: none;
  }

  .divider {
    margin: 3rem 25% 1rem;
  }

  .page-description {
    padding-right: 0;
  }

  .project-navigation {
    margin: 3rem 9.5% 6rem;
  }

  .heading-container {
    margin-right: 0;
    text-align: left;
    padding-left: 0;
  }

  .process-description {
    padding-right: 0;
  }
}
/* Screen size of 480px - 768px */
@media screen and (min-width: 30rem) and (max-width: 48rem) {
  .container {
    flex-direction: column;
  }

  .image-container {
    margin: 0 auto;
    margin-top: 5rem;
  }

  .project-description {
    flex-direction: column;
    margin: 0 9%;
  }

  .tools-container, .duration-container {
    border-right: none;
    border-left: none;
  }

  .divider {
    margin: 4rem 25% 1rem;
  }

  .page-description {
    padding-right: 0;
  }

  .project-navigation {
    margin: 3rem 9.5% 6rem;
  }

  .heading-container {
    margin-right: 0;
    text-align: left;
    padding-left: 0;
  }

  .process-description {
    padding-right: 0;
  }
}
/* Screen size of 768px - 1280px */
@media screen and (min-width: 48rem) and (max-width: 80rem) {
  .container {
    flex-direction: column;
  }

  .image-container {
    margin: 0 auto;
    margin-top: 5rem;
  }

  .page-description {
    padding-right: 0;
  }

  .project-description {
    margin: 0 9% 2rem;
  }

  .project-description li {
    font-size: 0.8rem;
  }

  .heading-container {
    margin-right: 0;
    text-align: left;
    padding-left: 0;
  }

  .process-description {
    padding-right: 0;
  }
}