/* Header Styling */
.sub-header {
    background: url(../img/psod/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}