/* Header Styling */
.sub-header {
  background: url(../img/psod/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.youtube-video ~ p {
  margin-top: 0.5rem;
  font-style: italic;
}

.youtube-video ~ iframe {
  margin-top: 2rem;
}