/* Header Styling */
.sub-header{
    background: url(../img/seeremheader.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
/* Project Link */
.overview-button{
    margin-top: 3rem;
}
  
/* Image Styling */
.page-description.right img{
    width: 100%;
}