/* Header Styling */
.sub-header {
  background: url(../img/vancity/vancityheader.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}